<li>
	<strong>{{this.burger_name}}</strong>
	<button class="change-devour btn btn-outline-warning btn-sm" data-id="{{id}}" data-newdevour="true">
		{{#if devoured}}YUM{{else}}Devour it!{{/if}}
	</button>
</li>